:root {
    --navbar-height: 70px;
}

header nav {
    height: var(--navbar-height);
}

.dropstart .dropdown-toggle::before {
    display: none;
}

/********Sidebar*********/
.sidebar {
    background-image: url(../img/sidebar-bg.png);
    padding-top: var(--navbar-height);
    width: 70px;
    height: 100vh;
    background-color: #051e34;
}

@media screen and (min-width: 992px) {
    .sidebar{
        width: 150px;
    }
}

.sidebar section:first-child {
    height: 100%;
}

/*********Hover*********/
.hoverSidebar:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

 table .hoverTable:hover {
    background-color: lightgrey;
    cursor: pointer;
}

/******Main********/
main {
    margin-top: var(--navbar-height);
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
}

/*******Offcanvas*******/
.widthOffcanvasCustom {
    width: 100%!important;
}

@media screen and (min-width: 992px) {
    .widthOffcanvasCustom {
        width: 60%!important;
    }
}